.parallax {
  width: 20%;
}

.reproductor {
  position: fixed;
  top: 35px;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 50%;
  background-image: url("https://spectacular-panda-f144bf.netlify.app//images/sea.JPG");
  opacity: 0.8;
  border-radius: 20px;
  padding: 10px 20px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  z-index: 999;
}

.reproductor__progress-bar {
  height: 5px;
  background-color: #eee;
  border-radius: 10px;
}

.reproductor__progress {
  height: 100%;
  background-color: #007bff; /* Color de la barra de progreso */
  border-radius: 10px;
}

.reproductor__controls {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 5px;
}

.reproductor__controls button {
  background-color: #007bff; /* Color del botón */
  color: #fff;
  border: none;
  padding: 5px 10px;
  border-radius: 5px;
  cursor: pointer;
}

.reproductor__controls button:hover {
  background-color: #0056b3; /* Color del botón al pasar el ratón */
}

@media (min-width: 576px) {
  .parallax {
    width: 30%;
  }
}

@media (min-width: 768px) {
  .parallax {
    width: 20%;
  }
}

@media (min-width: 992px) {
  .parallax {
    width: 20%;
  }
}

@media (min-width: 1200px) {
  .parallax {
    width: 20%;
  }
}
